# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.ipynb_checkpoints/
*.egg-info/

.DS_Store
Thumbs.db

.venv/

# secrets
.env
*.key
secrets.json
.envrc

# outputs
results/
outputs/
logs/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo